*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family:Arial, Helvetica, sans-serif;
}

#root-element{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 105, 187);
}

h1{
    margin: 1%;
    color: white;
    padding: 10px;
    border-radius: 15px;
    outline: 1px groove white;
    position: absolute;
    align-self: flex-start;
}
.question-container{ 
    width: 800px;
    border-radius: 15px;
    height: 500px;
    margin: 5% ;
    display: flex;
    background-color:rgb(18, 105, 187) ;
    justify-content: center;
    align-items: center;
    /* outline: 2px groove rgb(88, 231, 224); */
    outline: 3px solid white;
}

.question-btn{
    padding: 2em;
    border-radius: 15px;
    background-color: rgb(18, 105, 187);
    position: absolute;
    align-self: flex-end;
    text-align: center;
    outline: 2px solid white;
    color:white;
    cursor: pointer;
    margin: 1%;
}
.question-btn:hover{
    background-color: white;
    color: black;
    outline: 2px groove rgb(65, 207, 65);
    transition: 200ms ease-in-out;
}

h2{
    color: white;
    padding: 10px;
    text-align: center;
}
.flip-animation{
    animation: flipAnimation 400ms ease-in-out;
}
@keyframes flipAnimation{
    0%{
        transform: rotateY(90deg);
        width: 0;
        opacity: 0;
    }50%{
        transform: rotateY(90deg);
        width: 400;
    }
    100%{
        transform: rotateY(0);
        width: 800px;
        opacity: 100%;
    }
}